openapi: 3.0.0
info:
  title: Texas Hedge'Em API
  version: "0.1.0"
  description: |
    REST API for Texas Hedge'Em v5 — a player-vs-house poker odds game.

    Players place bets on the odds of multiple simultaneous poker hands
    at three betting stages: **Hole**, **Flop**, and **Turn**.
    The River card determines the winning hand and pays out winners.

    **Base URL:** `https://hedgeem-v5.qeetoto.com`

    **Authentication:** All endpoints except `/api/health` require a
    Supabase JWT passed as a Bearer token in the `Authorization` header.
    See [Authentication](/authentication) for details.

    > **Note:** This API is currently in stub mode. Endpoints return
    > realistic dummy data until Supabase and the game engine are wired up.
  contact:
    url: https://github.com/texashedgeem/hedgeem-v5
  license:
    name: MIT

servers:
  - url: https://hedgeem-v5.qeetoto.com
    description: Production (Vercel)
  - url: http://localhost:3000
    description: Local development

security:
  - bearerAuth: []

paths:

  /api/health:
    get:
      summary: Health check
      description: Returns the API status and version. No authentication required.
      operationId: getHealth
      security: []
      tags: [System]
      responses:
        "200":
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: ok
                service: hedgeem-api
                version: 0.1.0
                timestamp: "2026-03-19T10:00:00.000Z"

  /api/deal:
    post:
      summary: Deal hands
      description: |
        Shuffles a fresh deck, deals hole cards to N simultaneous hands, and returns
        pre-flop win/draw odds for each hand.

        This is the first call in a new game — it replaces the combined effect of:
        - `HedgeEmUtility.f_shuffle_deck` (5-pass Fisher-Yates shuffle)
        - The `STATUS_START → STATUS_HOLE` transition in `f_change_table_game_state`
        - UMA math engine pre-flop equity calculation

        **Odds engine (tactical):** Monte Carlo simulation via `poker-odds-calculator`
        (100,000 iterations). The strategic replacement is the UMA C++ math engine
        deployed as an HTTP microservice (HEDGE-43).

        The hand with the highest `winPercentage` is marked `IN_PLAY_FAVOURITE`;
        all others are `IN_PLAY_BETTING_STAGE_ACTIVE`.

        The `remainingDeck` array contains the 44 undealt cards — these are the
        pool from which the flop, turn, and river will be drawn.
      operationId: dealHands
      tags: [Game]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DealRequest'
            example:
              numberOfHands: 4
      responses:
        "200":
          description: Shuffled hands and pre-flop odds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealResponse'
              example:
                hands: ["AcKd", "QsJs", "8h7c", "5d2c"]
                handOdds:
                  - handIndex: 0
                    bettingStage: 0
                    handStatus: IN_PLAY_FAVOURITE
                    winPercentage: 62.4
                    drawPercentage: 2.1
                    odds: 1.60
                  - handIndex: 1
                    bettingStage: 0
                    handStatus: IN_PLAY_BETTING_STAGE_ACTIVE
                    winPercentage: 21.3
                    drawPercentage: 1.8
                    odds: 4.69
                  - handIndex: 2
                    bettingStage: 0
                    handStatus: IN_PLAY_BETTING_STAGE_ACTIVE
                    winPercentage: 10.2
                    drawPercentage: 0.9
                    odds: 9.80
                  - handIndex: 3
                    bettingStage: 0
                    handStatus: IN_PLAY_BETTING_STAGE_ACTIVE
                    winPercentage: 6.1
                    drawPercentage: 0.5
                    odds: 16.39
                remainingDeck: ["2c", "3d", "4h", "..."]
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /api/tables/{tableId}/state:
    get:
      summary: Get game state
      description: |
        Returns the full current game state for a table, including:
        - Current game state and betting stage
        - All four hands (once dealt)
        - Community cards (flop, turn, river) as they are revealed
        - Per-hand odds panels for the current and previous stages
        - All seats and their balances
        - All bets placed in the current game

        Equivalent to `get_game_state_object` in the legacy C# server.
      operationId: getTableState
      tags: [Tables]
      parameters:
        - $ref: '#/components/parameters/tableId'
      responses:
        "200":
          description: Current game state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HedgeEmGameState'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /api/tables/{tableId}/advance:
    post:
      summary: Advance game
      description: |
        Advances the game to the next stage:
        - **Setup → Hole** — shuffles deck, deals two cards to each hand
        - **Hole → Flop** — deals three community cards
        - **Flop → Turn** — deals the turn card
        - **Turn → River** — deals the river card, resolves winning hand, pays out bets
        - **River → Setup** — clears the table for the next game

        Odds are recalculated at each stage. Dead hands (cannot win) are marked.
        Equivalent to `get_next_game_state_object` in the legacy C# server.
      operationId: advanceGame
      tags: [Tables]
      parameters:
        - $ref: '#/components/parameters/tableId'
      responses:
        "200":
          description: Updated game state after advancing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HedgeEmGameState'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /api/tables/{tableId}/bet:
    post:
      summary: Place a bet
      description: |
        Places a bet on a specific hand at the current betting stage.

        Bets are only accepted when the game is in an active betting stage
        (Hole, Flop, or Turn). The odds recorded at the time of the bet are
        stored alongside it for payout calculation.

        Equivalent to `ws_place_bet` in the legacy C# server.
      operationId: placeBet
      tags: [Tables]
      parameters:
        - $ref: '#/components/parameters/tableId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceBetRequest'
            example:
              playerId: "abc123"
              seatIndex: 0
              handIndex: 1
              betAmount: 25.00
      responses:
        "200":
          description: Bet acknowledgement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceBetResponse'
              examples:
                accepted:
                  summary: Bet accepted
                  value:
                    acknowledgement: ACK
                    message: Bet placed successfully.
                    updatedSeatBalance: 475.00
                rejected:
                  summary: Bet rejected (hand is dead)
                  value:
                    acknowledgement: NACK
                    message: Cannot place bet on a dead hand.
                    updatedSeatBalance: 500.00
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /api/tables/{tableId}/topup:
    post:
      summary: Top up chips
      description: |
        Transfers chips from the player's account balance to their seat balance.

        Players can top up between games or between betting stages if their
        seat balance is running low. Cannot exceed the player's account balance.

        Equivalent to `ws_top_up_chips_at_table` in the legacy C# server.
      operationId: topUpChips
      tags: [Tables]
      parameters:
        - $ref: '#/components/parameters/tableId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopUpRequest'
            example:
              playerId: "abc123"
              amount: 100.00
      responses:
        "200":
          description: Top up acknowledgement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopUpResponse'
              example:
                acknowledgement: ACK
                newSeatBalance: 600.00
                newAccountBalance: 900.00
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /api/tables/{tableId}/sit:
    post:
      summary: Sit at table
      description: |
        Seats a player at a table with a specified buy-in amount.
        The buy-in is deducted from the player's account balance and
        credited to their seat balance.

        Equivalent to `ws_sit_at_table_new` in the legacy C# server.
      operationId: sitAtTable
      tags: [Tables]
      parameters:
        - $ref: '#/components/parameters/tableId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SitRequest'
            example:
              playerId: "abc123"
              buyInAmount: 500.00
      responses:
        "200":
          description: Seat assignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitResponse'
              example:
                acknowledgement: ACK
                seatId: 1
                seatBalance: 500.00
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /api/games/bulk:
    post:
      summary: Generate bulk game data
      description: |
        Generates N complete pre-calculated game states — each containing all 4 stages
        (HOLE, FLOP, TURN, RIVER) with odds already computed for every hand.

        This is the REST replacement for the legacy C# SOAP method
        `f_get_bulk_gamestate_list` (hedgeem_asp_webservice). The JS client's static
        `coreData[]` and `three_handed_game_data[]` arrays in `coredata.js` were
        originally generated by that SOAP endpoint — this endpoint replaces it.

        **Pipeline per game** (mirrors `HedgeEmTable.f_shuffle_deal_and_calculate_odds`):
        1. Shuffle deck and deal hole cards + board cards
        2. Calculate pre-flop odds (Monte Carlo)
        3. Calculate flop odds (Monte Carlo)
        4. Calculate turn odds (Monte Carlo)
        5. Deterministic river evaluation
        6. Apply house margin chain to each stage
        7. Determine status flags (winner, favourite, cant-lose, best-rtp)
        8. Populate best-five-cards and hand descriptions (flop onwards)

        **Limits:** `numberOfGames` is capped at 200 per request.
        For 50 games of 3 hands the response is ~300 KB.
      operationId: generateBulkGames
      tags: [Game]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkGamesRequest'
            example:
              numberOfGames: 10
              numberOfHands: 3
              targetRtp: 0.97
      responses:
        "200":
          description: Pre-calculated game states
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkGamesResponse'
              example:
                numberOfGames: 1
                numberOfHands: 3
                targetRtp: 0.97
                generatedAt: "2026-03-24T12:00:00.000Z"
                games:
                  - gameId: "BULK-0001"
                    numberOfHands: 3
                    numberOfBettingStages: 3
                    hands: ["AcKd", "QsJs", "8h7c"]
                    bc1: "Ah"
                    bc2: "3s"
                    bc3: "9d"
                    bc4: "2c"
                    bc5: "Kh"
                    handStageInfoList:
                      - handIndex: 0
                        bettingStage: 0
                        percentWin: 62.4
                        percentDraw: 2.1
                        percentWinOrDraw: 64.5
                        oddsActual: 1.55
                        oddsMargin: 1.50
                        oddsRounded: 1.5
                        actualRtp: 0.968
                        roundingRake: 0.000
                        statusIsWinner: false
                        statusCantLose: false
                        statusIsFavourite: true
                        statusBestRtp: false
                        bestFiveCards: null
                        handDescShort: null
                        handDescLong: null
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /api/players/{playerId}:
    get:
      summary: Get player
      description: |
        Returns a player's profile, account balance, and personal table assignment.

        Equivalent to `ws_get_player_account_balance` in the legacy C# server.
      operationId: getPlayer
      tags: [Players]
      parameters:
        - $ref: '#/components/parameters/playerId'
      responses:
        "200":
          description: Player profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HedgeEmPlayer'
              example:
                playerId: "abc123"
                username: "simon.hewins@gmail.com"
                displayName: "Simon"
                accountBalance: 1000.00
                avatarImageUrl: "/avatars/user_square.jpg"
                role: BASIC_USER
                isActive: true
                personalTableId: 1
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase Auth JWT. Obtain via Supabase Auth sign-in.

  parameters:
    tableId:
      name: tableId
      in: path
      required: true
      description: Unique numeric table identifier
      schema:
        type: integer
        minimum: 1
        example: 1

    playerId:
      name: playerId
      in: path
      required: true
      description: Player UUID (from Supabase auth.users.id)
      schema:
        type: string
        format: uuid
        example: "abc123-def456"

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            error: "betAmount must be a positive number."

    Unauthorized:
      description: Missing or invalid Bearer token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            error: "Missing or invalid Authorization header."

  schemas:

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        service:
          type: string
          example: hedgeem-api
        version:
          type: string
          example: "0.1.0"
        timestamp:
          type: string
          format: date-time

    HedgeEmGameState:
      type: object
      description: |
        Full game state for a Texas Hedge'Em table at a point in time.
        This is the primary object consumed by the game client (gameClient/).
      properties:
        tableId:
          type: integer
          example: 1
        gameId:
          type: string
          example: "game-001"
        gameState:
          $ref: '#/components/schemas/GameState'
        bettingStage:
          $ref: '#/components/schemas/BettingStage'
        numberOfHands:
          type: integer
          description: Number of simultaneous hands in play (typically 4)
          example: 4
        numberOfSeats:
          type: integer
          description: Total seat capacity at this table
          example: 6
        jackpotValue:
          type: number
          description: Current jackpot value in chips
          example: 1250.00
        hands:
          type: array
          description: |
            The four hole card pairs as card strings (e.g. "AcKd").
            Null before STATUS_HOLE. See [Card Notation](/concepts/card-notation).
          items:
            type: string
            nullable: true
          example: ["AcKd", "QsJs", "8h7c", "5d2c"]
        flopCard1:
          type: string
          nullable: true
          description: First community card. Null before STATUS_FLOP.
          example: "Ah"
        flopCard2:
          type: string
          nullable: true
          example: "3s"
        flopCard3:
          type: string
          nullable: true
          example: "9d"
        turnCard:
          type: string
          nullable: true
          description: Turn card. Null before STATUS_TURN.
          example: null
        riverCard:
          type: string
          nullable: true
          description: River card. Null before STATUS_RIVER.
          example: null
        seats:
          type: array
          items:
            $ref: '#/components/schemas/HedgeEmSeat'
        bets:
          type: array
          description: All bets placed in the current game
          items:
            $ref: '#/components/schemas/HedgeEmBet'
        handOdds:
          type: array
          description: |
            Odds panel data for each hand at each betting stage.
            The game client uses this to render betting panels.
          items:
            $ref: '#/components/schemas/HedgeEmHandOdds'

    HedgeEmSeat:
      type: object
      properties:
        seatId:
          type: integer
          example: 1
        playerId:
          type: string
          description: Supabase auth UUID
          example: "abc123"
        playerName:
          type: string
          example: "Simon"
        seatBalance:
          type: number
          description: Chips currently at this seat
          example: 500.00
        avatarImageUrl:
          type: string
          example: "/avatars/user_square.jpg"

    HedgeEmBet:
      type: object
      properties:
        playerId:
          type: string
          example: "abc123"
        bettingStage:
          $ref: '#/components/schemas/BettingStage'
        seatIndex:
          type: integer
          description: Zero-based seat index
          example: 0
        handIndex:
          type: integer
          description: Zero-based hand index (0–3)
          minimum: 0
          maximum: 3
          example: 0
        betAmount:
          type: number
          example: 50.00
        recordedOdds:
          type: number
          description: The odds at the moment the bet was placed, used for payout
          example: 1.6

    HedgeEmHandOdds:
      type: object
      description: |
        Odds panel data for a single hand at a single betting stage.
        Used by the game client to render the 12 betting panels (4 hands × 3 stages).
      properties:
        handIndex:
          type: integer
          minimum: 0
          maximum: 3
          example: 0
        bettingStage:
          $ref: '#/components/schemas/BettingStage'
        handStatus:
          $ref: '#/components/schemas/HandStatus'
        winPercentage:
          type: number
          description: Probability of this hand winning (0–100)
          example: 62.4
        drawPercentage:
          type: number
          description: Probability of a draw (0–100)
          example: 2.1
        odds:
          type: number
          description: |
            Payout odds. A bet of X returns X × odds.
            0.0 when the hand is Dead or in a non-betting stage.
          example: 1.6

    HedgeEmPlayer:
      type: object
      properties:
        playerId:
          type: string
          description: Supabase auth UUID
          example: "abc123"
        username:
          type: string
          example: "simon.hewins@gmail.com"
        displayName:
          type: string
          example: "Simon"
        accountBalance:
          type: number
          description: Total chips in the player's account (not at any table)
          example: 1000.00
        avatarImageUrl:
          type: string
          example: "/avatars/user_square.jpg"
        role:
          type: string
          enum: [UNSPECIFIED_DUE_TO_ERROR, BASIC_USER, PAYING_USER, ANON_USER, ADMIN]
          example: BASIC_USER
        isActive:
          type: boolean
          example: true
        personalTableId:
          type: integer
          nullable: true
          description: The player's personal table ID, if they have one
          example: 1

    PlaceBetRequest:
      type: object
      required: [playerId, seatIndex, handIndex, betAmount]
      properties:
        playerId:
          type: string
          example: "abc123"
        seatIndex:
          type: integer
          minimum: 0
          example: 0
        handIndex:
          type: integer
          minimum: 0
          maximum: 3
          description: Which of the four hands to bet on
          example: 1
        betAmount:
          type: number
          minimum: 0.01
          example: 25.00

    PlaceBetResponse:
      type: object
      properties:
        acknowledgement:
          type: string
          enum: [ACK, NACK]
        message:
          type: string
          example: "Bet placed successfully."
        updatedSeatBalance:
          type: number
          example: 475.00

    TopUpRequest:
      type: object
      required: [playerId, amount]
      properties:
        playerId:
          type: string
          example: "abc123"
        amount:
          type: number
          minimum: 0.01
          example: 100.00

    TopUpResponse:
      type: object
      properties:
        acknowledgement:
          type: string
          enum: [ACK, NACK]
        newSeatBalance:
          type: number
          example: 600.00
        newAccountBalance:
          type: number
          example: 900.00

    SitRequest:
      type: object
      required: [playerId, buyInAmount]
      properties:
        playerId:
          type: string
          example: "abc123"
        buyInAmount:
          type: number
          minimum: 0.01
          example: 500.00

    SitResponse:
      type: object
      properties:
        acknowledgement:
          type: string
          enum: [ACK, NACK]
        seatId:
          type: integer
          example: 1
        seatBalance:
          type: number
          example: 500.00

    DealRequest:
      type: object
      properties:
        numberOfHands:
          type: integer
          description: Number of simultaneous hole card hands to deal (2–6, default 4)
          minimum: 2
          maximum: 6
          default: 4
          example: 4

    DealResponse:
      type: object
      properties:
        hands:
          type: array
          description: |
            Dealt hole card pairs. Each string is two concatenated card codes,
            e.g. `"AcKd"` = Ace of clubs + King of diamonds.
            See [Card Notation](/concepts/card-notation).
          items:
            type: string
          example: ["AcKd", "QsJs", "8h7c", "5d2c"]
        handOdds:
          type: array
          description: |
            Pre-flop odds for each hand. Same shape as the `handOdds` array in
            `HedgeEmGameState` — the game client renders these directly as betting panels.
          items:
            $ref: '#/components/schemas/HedgeEmHandOdds'
        remainingDeck:
          type: array
          description: |
            The 44 cards not yet in play. The flop (3 cards), turn (1), and river (1)
            will be drawn from this pool when the game advances.
          items:
            type: string
          example: ["2c", "3d", "4h", "5s"]

    ApiError:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message
          example: "Invalid tableId."

    GameState:
      type: string
      description: |
        The lifecycle state of a Texas Hedge'Em game.
        States progress linearly: SETUP → START → HOLE → FLOP → TURN → RIVER.
      enum:
        - UNCHANGED
        - INVALID_CARD
        - CARD_ALREADY_DEALT
        - STATUS_SETUP
        - STATUS_START
        - STATUS_MANUAL_DEALING_HOLE
        - STATUS_HOLE
        - STATUS_FLOP_CARD1
        - STATUS_FLOP_CARD2
        - STATUS_FLOP_CARD3
        - STATUS_FLOP
        - STATUS_TURN
        - STATUS_RIVER
      example: STATUS_HOLE

    BettingStage:
      type: integer
      description: |
        The current betting stage.
        - `-1` NON_BETTING — no bets accepted (river, setup)
        - `0` HOLE — betting on hole cards
        - `1` FLOP — betting on flop cards
        - `2` TURN — betting on turn card
      enum: [-1, 0, 1, 2]
      example: 0

    BulkGamesRequest:
      type: object
      properties:
        numberOfGames:
          type: integer
          description: How many games to generate (1–200, default 50)
          minimum: 1
          maximum: 200
          default: 50
          example: 10
        numberOfHands:
          type: integer
          description: Hands per game — 3 or 4 (default 3)
          enum: [3, 4]
          default: 3
          example: 3
        targetRtp:
          type: number
          description: House RTP target — must be > 0 and < 1 (default 0.97)
          exclusiveMinimum: 0
          exclusiveMaximum: 1
          default: 0.97
          example: 0.97

    BulkGamesResponse:
      type: object
      properties:
        games:
          type: array
          description: Pre-calculated game states, one per requested game
          items:
            $ref: '#/components/schemas/BulkGameState'
        numberOfGames:
          type: integer
          description: Actual count of games returned
          example: 10
        numberOfHands:
          type: integer
          description: Hands per game (echoed from request)
          example: 3
        targetRtp:
          type: number
          description: RTP used for house margin calculations (echoed from request)
          example: 0.97
        generatedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this batch was generated
          example: "2026-03-24T12:00:00.000Z"

    BulkGameState:
      type: object
      description: |
        A single fully pre-generated game — all cards dealt, all stage odds calculated.
        Equivalent to C# `HedgeEmGameState` (DataContract), minus session/table/bet fields.

        The `handStageInfoList` contains one `BulkHandStageInfo` entry per hand per stage,
        ordered: all hands for HOLE, then FLOP, TURN, RIVER.
        Length = `numberOfHands × 4`.
      properties:
        gameId:
          type: string
          description: Unique game identifier within this batch (e.g. "BULK-0001")
          example: "BULK-0001"
        numberOfHands:
          type: integer
          example: 3
        numberOfBettingStages:
          type: integer
          description: Always 3 (HOLE, FLOP, TURN). RIVER is reveal-only — no betting.
          example: 3
        hands:
          type: array
          description: Hole card pairs, one per hand. Each string is two card codes e.g. "AcKd".
          items:
            type: string
          example: ["AcKd", "QsJs", "8h7c"]
        bc1:
          type: string
          description: Flop card 1
          example: "Ah"
        bc2:
          type: string
          description: Flop card 2
          example: "3s"
        bc3:
          type: string
          description: Flop card 3
          example: "9d"
        bc4:
          type: string
          description: Turn card
          example: "2c"
        bc5:
          type: string
          description: River card
          example: "Kh"
        handStageInfoList:
          type: array
          description: |
            Flat list of per-hand per-stage data.
            Length = `numberOfHands × 4` (one entry per hand × per stage).
            Ordered by stage then hand: HOLE[0..n], FLOP[0..n], TURN[0..n], RIVER[0..n].
          items:
            $ref: '#/components/schemas/BulkHandStageInfo'

    BulkHandStageInfo:
      type: object
      description: |
        Per-hand, per-stage odds and status data.
        Equivalent to C# `HedgeEmHandStageInfo` (DataContract).
      properties:
        handIndex:
          type: integer
          description: Zero-based hand index (0 to numberOfHands-1)
          minimum: 0
          example: 0
        bettingStage:
          $ref: '#/components/schemas/BettingStage'
        percentWin:
          type: number
          description: Probability of this hand winning outright (0–100)
          example: 62.4
        percentDraw:
          type: number
          description: Probability of a draw (0–100)
          example: 2.1
        percentWinOrDraw:
          type: number
          description: percentWin + percentDraw, rounded to 1 dp
          example: 64.5
        oddsActual:
          type: number
          description: True mathematical odds (1 / winProbability)
          example: 1.55
        oddsMargin:
          type: number
          description: Odds after house margin applied (oddsActual × targetRtp)
          example: 1.50
        oddsRounded:
          type: number
          description: Display odds, rounded to the nearest 0.1. Shown to player as "1:X".
          example: 1.5
        actualRtp:
          type: number
          description: Achieved RTP after rounding (oddsRounded / oddsActual)
          example: 0.968
        roundingRake:
          type: number
          description: Additional house take from rounding ((oddsMargin - oddsRounded) / oddsActual)
          example: 0.000
        statusIsWinner:
          type: boolean
          description: True at RIVER stage only if this hand wins (or ties)
          example: false
        statusCantLose:
          type: boolean
          description: True if this hand cannot be beaten at this stage (win% + draw% ≥ 99.9%)
          example: false
        statusIsFavourite:
          type: boolean
          description: True if this hand has the highest win percentage at this stage
          example: true
        statusBestRtp:
          type: boolean
          description: True if this hand offers the best value (highest display odds) at this stage
          example: false
        bestFiveCards:
          type: string
          nullable: true
          description: Space-separated best five cards. Null at HOLE stage (only 2 cards known).
          example: "Ac Kd Ah 3s 9d"
        handDescShort:
          type: string
          nullable: true
          description: Short hand description e.g. "Two Pair". Null at HOLE stage.
          example: "Two Pair"
        handDescLong:
          type: string
          nullable: true
          description: Long hand description e.g. "Two Pair, Aces and Kings". Null at HOLE stage.
          example: "Two Pair, Aces and Kings"

    HandStatus:
      type: string
      description: |
        The display status of a hand's betting panel at a given stage.
        Used by the game client to render panels appropriately.
        - `IN_PLAY_DEAD` — hand cannot win; no bets accepted
        - `IN_PLAY_WILL_WIN` — hand is guaranteed to win or draw; no bets accepted
        - `IN_PLAY_FAVOURITE` — leading hand; bets accepted at lower odds
        - `IN_PLAY_WINNER` — revealed winner at river
      enum:
        - UNDEFINED
        - IN_NON_BETTING_STAGE
        - IN_PLAY_PREVIOUS_BETTING_STAGE_NOT_ACTIVE
        - IN_PLAY_BETTING_STAGE_ACTIVE
        - IN_PLAY_DISABLED
        - IN_PLAY_DEAD
        - IN_PLAY_FAVOURITE
        - IN_PLAY_WILL_WIN
        - IN_PLAY_WINNER
      example: IN_PLAY_FAVOURITE
